.block {
    margin: 0 auto;
    box-sizing: border-box;
    height: 332px;
}
.list {
    list-style-type: none;
}
.listItem {
    text-decoration: underline;
    height: 18px;
    padding: 9px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.title {
    text-align: center;
    padding: 10px 0;
}