.block {
    margin: 0 auto;
    box-sizing: border-box;
}
.list {
    list-style-type: none;
}
.listItem {
    text-decoration: underline;
    height: 18px;
    padding: 9px;
}
.title {
    text-align: center;
    padding: 10px 0;
}