.calendar {
  margin: 5px;
  border: solid 1px rgb(232, 234, 238);
  padding: 5px;
}
.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 5px auto;
}
.button {
  box-sizing: border-box;
  height: 30px;
  font-size: 12px;
  padding: 10px;
  font-weight: 700; 
  cursor: pointer;
  transition: all 0.1s ease-out;
  color: #ffffff65;
  border: none;
  background-color: inherit; 
  color: #777777 ;
}
.button:hover {
  cursor: pointer;
}
.calendar{
  display: flex;
  flex-wrap: wrap;
}
.calendarElement{
  width: 14%;
}
.day {
  color: black;
  cursor: pointer;
  padding: 9px 10px;
  margin: 2px;
  text-align: center;
  border:1px solid #ffffff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
.day:hover {
  border:1px solid #808080;
  border-radius: 50%;
}
.today {
  color: #1976d2;
  cursor: pointer;
  font-weight: 700;
}
@media (max-width: 1080px) {
  .block {
    flex-direction: column;
  }
}
