.calendar {
  margin: 10px;
  border: solid 1px rgb(232, 234, 238);
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 5px auto;
}
.button {
  box-sizing: border-box;
  height: 30px;
  font-size: 12px;
  padding: 10px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.1s ease-out;
  color: #ffffff65;
  border: none;
  background-color: inherit;
  color: #777777 ;
  display: flex;
  justify-content: center;
  align-items:center;
}
.svg {
  fill: #fff;
  padding: 2px;
  border: 1px solid #1976d2;
}
.svg:hover {
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.svg:active{
  fill:#1976d2;
  background-color: #fff;
  border-radius: 50%;
}
.calendar{
  display: flex;
  flex-wrap: wrap;
}
.calendarElement{
  width: 14%;
}
.day {
  color: black;
  cursor: pointer;
  padding: 9px 10px;
  margin: 2px;
  text-align: center;
  border:1px solid #ffffff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
.day:hover {
  border:1px solid #808080;
  border-radius: 50%;
}
.today {
  color: #d21919;
  cursor: pointer;
  font-weight: 700;
}
.selectedDate {
  color: #1976d2;
  cursor: pointer;
  font-weight: 700;
}
.buttonBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1976d2;
  color: #fff;
  padding: 2px;
}
.select{
  height: 32px;
  border: 1px solid #1976d2;
  background-color: #fff;
}
@media (max-width: 1080px) {
  .block {
    flex-direction: column;
  }
}
